:root {
  /* Brand Color */
  --brand-color: #00dfb0;

  /* Dark Scale */
  --dark-10: #0B0B0B;
  --dark-20: #101010; 
  --dark-30: #1F1F1F; 
  --dark-40: #FFFFFF;

  /* Typography */
  --font-family: 'Archivo', sans-serif;
}
